@model RegistrationJudic
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="menuToggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
        <li>
            <a asp-controller="Home" asp-action="Index" type="submit">Главная</a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="Index" type="submit">Все таблицы</a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="Logout" type="submit">Выйти</a>
        </li>
    </ul>
</div>

<form class="edit-form" method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="row pb-2">
        <h2 class="text-primary">Создание заявки на регистрацию юр. лица</h2>
        <hr />
    </div>

    <div class="user-details">
        <div class="input-box">
            <label for="course">Название курса</label>
            <select class="form-control" id="StudiesId" name="StudiesId" asp-for="StudiesId">
                <option value="@Model.Studies.Id">@Model.Studies.Title</option>
            </select>
        </div>
    </div>

    <div class="user-details">
        <div class="input-box">
            <label for="company">Название предприятия</label>
            <input class="form-control" asp-for="CompanyName" name="CompanyName" id="company" type="text" placeholder="">
        </div>

        <div class="input-box">
            <label for="employers">Количество сотрудников для обучения</label>
            <input class="form-control" asp-for="PeopleCount" name="PeopleCount" id="employers" type="number" placeholder="">
        </div>

        <div class="user-details">
            <label for="place">Место проведения</label>
            <select asp-for="StudyPlace" name="StudyPlace" class="form-control" id="place">
                <option value="0">(не установлено)</option>
                <option value="1">На территории РХТУ</option>
                <option value="2">На территории заказчика</option>
            </select>
        </div>

        <div class="user-details">
            <label for="fullname">Фамилия Имя Отчество</label>
            <input class="form-control" asp-for="FullName" name="FullName" id="fullname" type="text" placeholder="Иванов Иван Иванович">
        </div>

        <div class="user-details">
            <label for="email">E-mail</label>
            <input class="form-control" asp-for="Email" name="Email" id="email" type="email" placeholder="example@mail.com">
        </div>

        <div class="user-details">
            <label for="phone">Телефон</label>
                <input class="form-control" asp-for="Phone" name="Phone" id="phone" type="tel" placeholder="+7 (999) 999-99-99">
        </div>

        <div class="user-details">
            <label for="add-info">Дополнительная информация</label>
            <textarea class="form-control" asp-for="About" name="About" id="add-info" rows="6" placeholder=""></textarea>
        </div>
    </div>

    <a asp-controller="RegistrationJudic" asp-action="Index" class="btn btn-secondary" style="width:200px">Вернуться</a>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }