@model CourseAndLectors
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="menuToggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
        <li>
            <a asp-controller="Home" asp-action="Index" type="submit">Главная</a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="Index" type="submit">Все таблицы</a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="Logout" type="submit">Выйти</a>
        </li>
    </ul>
</div>

<form class="edit-form" method="post" asp-action="CreateCourse" enctype="multipart/form-data">
    <div class="row pb-2">
        <h2 class="text-primary">Создание Курса</h2>
        <hr />
    </div>

    <div class="user-details">
        <div class="input-box" hidden>
            <span asp-validation-for="Studies.CategoryId" class="details">CategoryId</span>
            <input asp-for="Studies.CategoryId" name="CategoryId" placeholder="" required>
        </div>
        <div class="input-box">
            <span asp-validation-for="Studies.Title" class="details">Название курса</span>
            <input asp-for="Studies.Title" name="Title" placeholder="" required>
        </div>
        <div class="input-box">
            <span asp-validation-for="Studies.Description" class="details">Описание</span>
            <input asp-for="Studies.Description" name="Description" placeholder="" required>
        </div>
        <div class="input-box">
            <span asp-validation-for="Studies.StudyFormat" class="details">Формат обучения</span>
            <select class="form-select select-width" asp-for="Studies.StudyFormat">
                <option value="0">Очный</option>
                <option value="1">Заочный</option>
            </select>
        </div>
        <div class="input-box">
            <span asp-validation-for="Studies.StartTime" class="details">Начало обучения</span>
            <input asp-for="Studies.StartTime" name="StartTime" class="select-width" type="date" placeholder="" required>
        </div>
        <div class="input-box">
            <span asp-validation-for="Studies.EndTime" class="details">Конец обучения</span>
            <input asp-for="Studies.EndTime" name="EndTime" class="select-width" type="date" placeholder="" required>
        </div>
        <div class="input-box">
            <span asp-validation-for="Studies.Cost" class="details">Цена</span>
            <input asp-for="Studies.Cost" name="Cost" class="select-width" placeholder="" required>
        </div>
        <div class="input-box">
            <span asp-validation-for="Studies.DocumentAfter" class="details">Выдаваемый документ</span>
            <input asp-for="Studies.DocumentAfter" name="DocumentAfter" placeholder="" required>
        </div>
        <div class="input-box">
            <span asp-validation-for="Studies.InfoToKnow" class="details">Блок "Знать"</span>
            <input asp-for="Studies.InfoToKnow" name="InfoToKnow" placeholder="" required>
        </div>
        <div class="input-box">
            <span asp-validation-for="Studies.InfoToCan" class="details">Блок "Уметь"</span>
            <input asp-for="Studies.InfoToCan" name="InfoToCan" placeholder="" required>
        </div>
        <div class="input-box">
            <span asp-validation-for="Studies.InfoToUse" class="details">Блок "Владеть"</span>
            <input asp-for="Studies.InfoToUse" name="InfoToUse" placeholder="" required>
        </div>
        <div class="input-box">
            <span asp-validation-for="Studies.CourseProgramm" class="details">Программа курса</span>
            <ul id="programs">

            </ul>
            <input id="chapter" placeholder="Раздел" />
            <a class="btn btn-primary" onclick="addChapter()">Добавить раздел</a>
            <input id="outer-programs" asp-for="Studies.CourseProgramm" name="CourseProgramm" placeholder="" required hidden>
        </div>
        <div class="input-box">
            <span asp-validation-for="Lectors" class="details">Лекторы</span>
            <ul id="lectors">

            </ul>
            <select id="lector" class="form-select lector-select-width">
                @foreach(Lectors lector in Model.Lectors)
                {
                    <option value="@lector.Id">@lector.FullName</option>
                }
            </select>
            <a class="btn btn-primary" onclick="addLector()">Добавить лектора</a>
            <input id="outer-lectors" asp-for="Lectors" name="Lectors" placeholder="" required hidden>
        </div>
    </div>

    <button type="submit" class="btn btn-primary" style="width:200px">Создать</button>
    <a asp-controller="Studies" asp-action="Index" class="btn btn-secondary" style="width:200px">Вернуться</a>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }
