<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MIBA - @ViewData["Title"]</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MIBA.styles.css" asp-append-version="true" />
</head>
<body>
    <partial name="_Notifications" />
        <header>
    <div class="left">
            Дополнительное профессиональное образование
        </div>
        <div class="nav right">
            <a href="~/Home/Index/#about">ОБ АКАДЕМИИ</a>
            <a href="~/Home/Index/#study">КУРСЫ</a>
            <a href="~/Home/Index/#partners">ПАРТНЕРЫ</a>
            <a href="~/Home/Index/#footer">КОНТАКТЫ</a>
        </div>
    </header>
    <main role="main">
        @RenderBody()
    </main>
    <footer class="main-block" id="footer">
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li class="contact-info">
                <div>
                    <h1>КОНТАКТЫ</h1>
                    <p>
                        <svg fill="#000000" viewBox="0 0 56 56" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M 27.9999 51.9063 C 41.0546 51.9063 51.9063 41.0781 51.9063 28 C 51.9063 14.9453 41.0312 4.0937 27.9765 4.0937 C 14.8983 4.0937 4.0937 14.9453 4.0937 28 C 4.0937 41.0781 14.9218 51.9063 27.9999 51.9063 Z M 27.9999 47.9219 C 16.9374 47.9219 8.1014 39.0625 8.1014 28 C 8.1014 16.9609 16.9140 8.0781 27.9765 8.0781 C 39.0155 8.0781 47.8983 16.9609 47.9219 28 C 47.9454 39.0625 39.0390 47.9219 27.9999 47.9219 Z M 22.3749 33.5312 C 27.8358 39.0156 34.7968 42.4844 38.9218 38.3828 C 39.0858 38.2188 39.2030 38.0781 39.3202 37.9141 C 40.3983 36.7188 40.7030 35.1250 39.3202 34.0937 C 38.2421 33.3203 37.0936 32.5234 35.1483 31.1641 C 33.7890 30.2031 32.8983 30.4375 31.8436 31.4922 L 30.9062 32.4063 C 30.6249 32.6641 30.1796 32.6406 29.8749 32.4531 C 29.0546 31.9609 27.6718 30.8594 26.3593 29.5469 C 25.0702 28.2578 23.8983 26.8047 23.4530 26.0312 C 23.2890 25.7734 23.1718 25.3516 23.4999 25.0469 L 24.4140 24.0625 C 25.4687 22.9609 25.7030 22.1172 24.7187 20.7344 L 21.8358 16.6563 C 20.8514 15.2734 19.4218 15.5312 17.8514 16.7031 C 17.7343 16.7968 17.6405 16.8906 17.5468 16.9844 C 13.4218 21.1094 16.9140 28.0703 22.3749 33.5312 Z"></path></g></svg>
                        +7 (499) 978-82-81<br>
                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M16 8H8C7.45 8 7.005 8.45 7.005 9L7 15C7 15.55 7.45 16 8 16H16C16.55 16 17 15.55 17 15V9C17 8.45 16.55 8 16 8ZM8.00001 9.99997L12 12.5L16 9.99997V15H8.00001V9.99997ZM8.00001 9.00001L12 11.5L16 9.00001H8.00001Z" fill="#ffffff"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20Z" fill="#ffffff"></path> </g></svg>
                        miba@muctr.ru<br>
                        125057, г. Москва, Миусская площадь, д. 9
                        <br>
                        <br>
                        Часы работы:<br>
                        Пн-Чт: 09.00 – 18.00<br>
                        Пт: 09.00 – 16.45
                    </p>
                </div>
            </li>
            <li class="map">
                <div style="position:relative;overflow:hidden;">
                    <a href="https://yandex.ru/maps/org/rossiyskiy_khimiko_tekhnologicheskiy_universitet_imeni_d_i_mendeleyeva/1364845373/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">
                        Российский химико-технологический университет имени Д. И. Менделеева
                    </a>
                    <a href="https://yandex.ru/maps/213/moscow/category/university_college/184106140/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">
                        ВУЗ в Москве
                    </a>
                    <a href="https://yandex.ru/maps/213/moscow/category/further_education/184106162/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:28px;">
                        Дополнительное образование в Москве
                    </a>
                    <iframe src="https://yandex.ru/map-widget/v1/?ll=37.594926%2C55.778613&mode=search&oid=1364845373&ol=biz&z=15.32" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
                </div>
            </li>
            <li class="for-vk">
                <script type="text/javascript" src="https://vk.com/js/api/openapi.js?169"></script>

                <!-- VK Widget -->
                <div id="vk_groups"></div>

                <script type="text/javascript">
                    VK.Widgets.Group("vk_groups", { mode: 4, wide: 1, height: "400" }, 187951024);
                </script>
            </li>
        </ul>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
